{namespace app.AppLogger.view}
/**
 *AppLogger
 */
{template .getPrimary}
<div id="AppLoggerDivId" class="LogicalHide">
	<fieldset class="goog-debug-panel">
		<legend>Event Log</legend>
		<div id="loggerConsole"></div>
	</fieldset>
</div>
{/template}
