
{namespace HelpLauncher.view}
/**
*HelpLauncher
*/
{template .getPrimary}
<div id="HelpLauncherDivId" class="">
  <div id ="HelpLauncherCenterDiv" >
    <div class="row">
      <h1 id="HelpLauncherTitle" class="pageTitle" >This is a help page&hellip;</h1>
    </div>
  </div>
</div>
{/template}

