
{namespace tableWeb.view}
/**
* table
*/
{template .getPrimary}
<div id="tableDivId" class="">
  <div id ="tableCenterDiv" >
    <div class="row">
      <h1 id="tableTitle" class="pageTitle" >This is a table &hellip;</h1>
      <div id="testskidoo">
        
      </div>
    </div>
  </div>
</div>
{/template}
/**
* @param id the id.
* @param name the name.
*/
{template .row}
<tr><td>{$id}</td><td>{$name}</td></tr>
{/template}

