{namespace app.pages}

<!--/home/wbmartin/www/ledger/template/_templates_/app/login/_loginCommon.html -->		<!-- From: /home/wbmartin/www/ledger/template/_templates_/app/login/_loginCommon.html -->
		
<!--/home/wbmartin/www/ledger/template/_templates_/app/login/_loginCommon.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/login/_loginWeb.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/login/_loginMobile.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/login/_loginMobile.html -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/login/_loginWeb.html -->		<!-- From: /home/wbmartin/www/ledger/template/_templates_/app/login/_loginWeb.html -->
		

/**
 *Login
 */
{template .Login}
<!--Begin LoginPortal-->
<div id="LoginDivId"  class="displayOnLoad">
	<form id="LoginForm" action="">
		<div class="formLayout_Standard prettyWrapper" style="width:30em;">
			<h1>Login</h1>
			<span class="small" >Please enter your login credentials</span><hr/>

			
			
			
			<div class="formFieldGroup" id="LoginForm-user_idDivId">
				<label for ="LoginForm-user_id" style="display:inline-block;width:7em;" id="LoginFormLabel-user_id">User ID</label>
				<input type="text" style="width:15em" name="user_id" id="LoginForm-user_id" class="VALIDATErequired"/>	    
				<span class="ValidationMsg" style="width:0em" id="LoginFormLabel-userIdError"></span>
			</div>
			
			<div class="formFieldGroup" id="LoginForm-passwordDivId">
				<label for ="LoginForm-password" style="display:inline-block;width:7em;" id="LoginFormLabel-password">Password</label>
				<input type="password" style="width:15em" name="password" id="LoginForm-password" class="VALIDATErequired"/>	    
				<span class="ValidationMsg" style="width:0em" id="LoginFormLabel-passwordError"></span>
			</div>
			
			<div class="text/cssformFieldGroup" id="LoginForm-password_reset_codeDivId" style="display:none">
				text/css<label for ="LoginForm-password_reset_code" style="display:inline-block;width:7em;" id="LoginFormLabel-password_reset_code">Reset Code</label>
				text/css<input type="text" style="width:15em" name="password_reset_code" id="LoginForm-password_reset_code" class=""/>	    
				<span class="ValidationMsg" style="width:0em" id="LoginFormLabel-passwordResetCodeError"></span>
			</div>


			<div class="formButtons">

				<button type="button"  id="cmdlogin" class=""  onclick="loginCall('authenticate')" > <span class="">Login</span> </button>  
				<button type="button"  id="cmdOneTimelogin" class=" " style="display:none;"  onclick="loginCall('one_time')" ><span class=""> One Time Login</span> </button>  
			</div>
			<label for="trustedDeviceId" style="display:inline-block;">Trusted Device:</label>
			<input type="checkbox" id="LoginForm-trustedDeviceId"/>

		</div>  
	</form>  
	<a href="" onclick="LoginWeb.start(); return false;">test</a>
</div>
{/template}


<!--/home/wbmartin/www/ledger/template/_templates_/app/appLog/_appLogMobile.html -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/appLog/_appLogMobile.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/appLog/_appLogCommon.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/appLog/_appLogWeb.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/appLog/_appLogCommon.html -->		<!-- From: /home/wbmartin/www/ledger/template/_templates_/app/appLog/_appLogCommon.html -->
		
<!--/home/wbmartin/www/ledger/template/_templates_/app/appLog/_appLogWeb.html -->		<!-- From: /home/wbmartin/www/ledger/template/_templates_/app/appLog/_appLogWeb.html -->
		
/**
 *AppLogger
 */
{template .AppLogger}
<div id="AppLoggerDivId" class="LogicalHide">
	<fieldset class="goog-debug-panel">
		<legend>Event Log</legend>
		<div id="loggerConsole"></div>
	</fieldset>
</div>
{/template}

<!--/home/wbmartin/www/ledger/template/_templates_/app/xStyle/mainCommon.css -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xStyle/mainWeb.css -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xStyle/mainMobile.css -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xStyle/1140.css -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/mainLauncher/_mainLauncherCommon.html -->		<!-- From: /home/wbmartin/www/ledger/template/_templates_/app/mainLauncher/_mainLauncherCommon.html -->
		
<!--/home/wbmartin/www/ledger/template/_templates_/app/mainLauncher/_mainLauncherMobile.html -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/mainLauncher/_mainLauncherWeb.html -->		<!-- From: /home/wbmartin/www/ledger/template/_templates_/app/mainLauncher/_mainLauncherWeb.html -->
		

/**
 *MainLauncher
 */
{template .MainLauncher}
<div id="MainLauncherDivId" class="LogicalHide">
	<div id ="MainLauncherCenterDiv" >
		
		<div class="row">
			<h1 id="MainLauncherTitle" class="pageTitle" >I want to&hellip;</h1>
		</div>
		<div class="row"> 
			<div class="twocol largeIconSpan" id="launcherShowGetHelpSpanId"><a id="launcherShowHelp" onclick="app.showPage('AppLogger');">
					<span class="sprite64Icon helpIcon">&nbsp;</span><br/>
					Get Help</a>
			</div>

			<div class="twocol largeIconSpan" id="launcherShowAccessGroupsSpanId"><a id="launcherShowSecurityAccessGroups" onclick="">
					<span class="sprite64Icon keyIcon">&nbsp;</span><br/>
					Access Groups</a>
			</div>
			<div class="twocol last largeIconSpan" id="launcherShowSecurityUserSpanId"><a id="launcherShowSecurityUserId" onclick="">
					<span class="sprite64Icon keyManIcon">&nbsp;</span><br/>
					Application Users</a>
			</div>
			<div class="twocol last largeIconSpan" id="launcherShowChangeOwnPasswordSpanId"><a id="launcherShowChangePassword" onclick="">
					<span class="sprite64Icon lockIcon">&nbsp;</span><br/>
					Change My Password</a>
			</div>
		</div>
	</div>
</div>
{/template}


<!--/home/wbmartin/www/ledger/template/_templates_/app/mainLauncher/_mainLauncherWeb.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/mainLauncher/_mainLauncherCommon.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/mainLauncher/_mainLauncherMobile.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xFooter/_footerWeb.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xFooter/_footerCommon.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xFooter/_footerMobile.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xFooter/_footerWeb.html -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xFooter/_footerCommon.html -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xFooter/_footerMobile.html -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xHeader/_headerWeb.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xHeader/_headerWeb.html -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/xHeader/_headerMobile.html -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/lib/_libMobile.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/lib/soyutils_usegoog.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/lib/_libWeb.js -->
<!--/home/wbmartin/www/ledger/template/_templates_/app/lib/_libCommon.js -->