[%- FILTER redirect("/index.html") -%]
<!DOCType html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
[%INCLUDE app/xHeader/_headerWeb.html%]
<body> 
[%-INCLUDE app/xFooter/_footerWeb.html-%]
</body>
</html>
[%- END #filter -%]
