[%- FILTER redirect("/webpages.soy") -%]
{namespace app.pages}
[%FOREACH tPath = appTemplates%]
<!--[%tPath%] -->
  [%-IF  tPath.match('Web') or tPath.match('Common') -%]
	  [%-IF tPath.match('js'); NEXT; END;-%]
	  [%-IF tPath.match('\/x'); NEXT; END;-%]
		<!-- From: [%tPath%] -->
		[%INCLUDE $tPath%]
	[%-END-%]
[%-END-%]
[%- END #filter -%]
