[%- FOREACH tPath = appTemplates -%]
[%- #<!--tPath --> -%]
  [%-IF  tPath.match('Web') or tPath.match('Common') -%]
	  [%-IF tPath.match('js'); NEXT; END;-%]
	  [%-IF tPath.match('\/x'); NEXT; END;-%]
		[%fileName = getFileName(tPath)%]
		[%fileName%]
		 [%- FILTER redirect("/${fileName}.soy") -%]
[%- INCLUDE $tPath -%]
     [%- END #filter -%]
	  [%-END-%]
[%-END #foreach-%]
